<HTML>
<BODY>

<FORM action="#" method="post">

 {% csrf_token %}

 Name:          <input type="text" name="name"  > <br>
 Qualification: <input type="text" name="qualification"  > <br>
 
write subjects from the given list:
['accounting', 'marketing', 'finance', 'geological sciences', 'environment and resources', 'aeronautics and astronautics', 'bioengineering', 'electrical engineering',
 'design', 'computational and mathematical', 'mechanical', 'management science', 'applied physics', 'archeology', 'arts institue', 'biology', 'chemistry', 'economics',
 'film production', 'mathematics', 'religious studies', 'law',  'architecture', 'aerospace', 'data science', 'computer science', 'history', 'literature', 'mechanical engineering',
 'physics', 'nuclear science and engineering', 'neuro biology', 'social studies', 'classics', 'english', 'astrophysics', 'accounts', 'business management',
 'pharmaceutical', 'biochemistry', 'french', 'german','spanish', 'geography', 'fine arts', 'chinese studies', 'japanese', 'malay studies', 'english literature',
 'south east asian studies','east asian studies', 'comparative literature', 'agricultural science', 'animal science', 'astronomy', 'philosophy', 'african studies',
 'american studies', 'anthropology', 'archaeology', 'russian', 'statistics', 'political science', 'biological and biomedical sciences', 'computing sciences',
 'engineering and electronics', 'environmental and ecological sciences', 'earth sciences', 'physics and astronomy', 'uban planning', 'art', 'business', 'environment',
 'chemical engineering', 'metallurgical engineering', 'aerospace engineering', 'automobile','civil engineering', 'management studies', 'applied mechanics',
 'biotechnology', 'engineering design', 'metallurgical and materials engineering', 'humanities and social sciences', 'ocean engineering',
 'biological sciences and bio-engineering', 'materials science and engineering', 'mathematics and scientific computing', 'computer science and engineering',
 'financial accounting', 'corporate finance', 'business, government and society', 'managerial communication', 'macroeconomics', 'marketing management',
 'managing people and performance in organizations', 'management accounting', 'managerial economics', 'operations management', 'organization design',
 'competition & strategy', 'entrepreneurial learning',  'commerce', 'hindi', 'journalism', 'political Science', 'psychology', 'sanskrit', 'sociology']
 
 sub1:  <input type="text"  name="subject1"  > <br>
 sub2:  <input type="text"  name="subject2"  > <br>
 sub3:  <input type="text"  name="subject3"  > <br>

write hobbies from the given list:
['cricket', 'Model UN', 'photography', 'trekking', 'track and field', 'basketball', 'football', 'soccer', 'dance', 'drama', 'art', 'debate', 'fine arts',
 'martial arts', 'music', 'literature', 'public speaking', 'media', 'gaming', 'writing', 'running', 'robotics', 'astronomy', 'drawing', 'anchoring',
 'choreography', 'performing arts', 'movie making', 'billiards', 'snooker tables', 'carrom', 'chess', 'table tennis', 'foosball’', 'star-gazing', 
 'philately', 'numismatics', 'danc', 'tennis', 'squash', 'swimming', 'hockey', 'volleyball', 'badminton', 'weightlifting', 'athletics', 'journalism',
 'entrepreneurship', 'arts', 'entertainment', 'cooking', 'rugby', 'baseball', 'fencing', 'golf', 'gymnastics', 'rowing', 'water polo', 'wrestling',
 'podcast', 'ham radio', 'strategic games', 'architecture', 'designing', 'media arts', 'theater', 'theatre', 'visual arts', 'sailing', 'rifle',
 'cross country', 'taekwondo', 'triathlon', ' frisbee', 'cycling', 'ice hockey', 'public service', 'crew', 'cross-country', 'field hockey',
 'lacrosse', 'skiing', 'softball', 'diving', 'aikido', 'archery', 'ballroom dance', 'bodybuilding', 'bowling', 'boxing', 'cheerleading',
 'figure skating', 'hapkido', 'juggling', 'jujitsu', 'kendo', 'polo', 'Shaolin kempo', 'Shotokan karate', 'tae kwon do', 'kung fu', 'wushu',
 'swimming ', 'gyming', 'badmintonbaseball', 'kayak', 'canoe', 'shooting', 'croquet', 'horse riding', 'soccerfutsal', 'gliding', 'handball',
 'skating', 'judo', 'karate', 'kickboxing', 'netball', 'pool', 'snooker', 'ski', 'surf', 'taekwon do', 'tai chi', 'frisbee', 'walking', 'visual art',
 'virtual art', 'podcasts', 'guitar', 'salsa', 'tango', 'singing', 'ballet', 'biking', 'falun', 'kempo', 'reporting', 'lawn tennis', 'automobile',
 'boating', 'bump races', 'piano', 'keyboard', 'drums', 'violin', 'instruments', 'orchestra', 'choir', 'harmonix', 'lion dance troupe', 'jiu jitsu',
 'silat', 'surfing', 'floorball', 'ice skating', 'grappling', 'Animania', 'snowboard', 'yoga', 'sqaush', 'gym']

 h1:  <input type="text"  name="hobby1"  > <br>
 h2:  <input type="text"  name="hobby2"  > <br>
 h3:  <input type="text"  name="hobby3"  > <br>

</FORM>
</BODY>
</HTML> 
